@charset "UTF-8";
/*
额外定义类:
- textwrap
- serif
*/
.c-html-render {
  /* html init settings */
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  line-height: 1.55em;
  /* adaptation */
}

.c-html-render body,
.c-html-render dl,
.c-html-render dt,
.c-html-render dd,
.c-html-render ul,
.c-html-render ol,
.c-html-render li,
.c-html-render h1,
.c-html-render h2,
.c-html-render h3,
.c-html-render h4,
.c-html-render h5,
.c-html-render h6,
.c-html-render pre,
.c-html-render code,
.c-html-render form,
.c-html-render fieldset,
.c-html-render legend,
.c-html-render input,
.c-html-render textarea,
.c-html-render p,
.c-html-render blockquote,
.c-html-render th,
.c-html-render td,
.c-html-render hr,
.c-html-render button,
.c-html-render article,
.c-html-render aside,
.c-html-render details,
.c-html-render figcaption,
.c-html-render figure,
.c-html-render footer,
.c-html-render header,
.c-html-render menu,
.c-html-render nav,
.c-html-render section {
  margin: 0;
  padding: 0;
}

.c-html-render article,
.c-html-render aside,
.c-html-render details,
.c-html-render figcaption,
.c-html-render figure,
.c-html-render footer,
.c-html-render header,
.c-html-render menu,
.c-html-render nav,
.c-html-render section {
  display: block;
}

.c-html-render audio,
.c-html-render canvas,
.c-html-render video {
  display: inline-block;
}

.c-html-render body,
.c-html-render button,
.c-html-render input,
.c-html-render select,
.c-html-render textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.c-html-render button::-moz-focus-inner,
.c-html-render input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.c-html-render table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-html-render fieldset,
.c-html-render img {
  border: 0;
}

.c-html-render blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 4px solid #b3b3b3;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}

@media only screen and (max-width: 640px) {
  .c-html-render blockquote {
    margin: 1em 0;
  }
}

.c-html-render acronym,
.c-html-render abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
  text-decoration: none;
}

.c-html-render abbr {
  cursor: help;
}

.c-html-render del {
  text-decoration: line-through;
}

.c-html-render address,
.c-html-render caption,
.c-html-render cite,
.c-html-render code,
.c-html-render dfn,
.c-html-render em,
.c-html-render th,
.c-html-render var {
  font-style: normal;
  font-weight: 400;
}

.c-html-render ul,
.c-html-render ol {
  list-style: none;
}

.c-html-render caption,
.c-html-render th {
  text-align: left;
}

.c-html-render q:before,
.c-html-render q:after {
  content: "";
}

.c-html-render sub,
.c-html-render sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

.c-html-render :root sub,
.c-html-render :root sup {
  vertical-align: baseline;
  /* for ie9 and other modern browsers */
}

.c-html-render sup {
  top: -0.5em;
}

.c-html-render sub {
  bottom: -0.25em;
}

.c-html-render ins,
.c-html-render a {
  text-decoration: none;
}

.c-html-render a {
  color: #0086b3;
  border-bottom: 1px solid #0086b3;
  text-decoration: none;
}

.c-html-render a:hover {
  border-bottom-color: #555;
  color: #555;
}

.c-html-render u,
.c-html-render .c-u {
  text-decoration: underline;
}

.c-html-render mark {
  background: #fffdd1;
  border-bottom: 1px solid #ffedce;
  padding: 2px;
  margin: 0 5px;
}

.c-html-render pre,
.c-html-render code,
.c-html-render pre tt {
  font-family: Courier, "Courier New", monospace;
}

.c-html-render pre {
  border: 1px solid #ddd;
  padding: 1em 1.5em;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.c-html-render p code {
  color: #476582;
  padding: .25rem .5rem;
  margin: 0;
  font-size: .85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.c-html-render hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  height: 10px;
}

.c-html-render small,
.c-html-render .typo-small,
.c-html-render figcaption {
  font-size: 0.9em;
  color: #888;
}

.c-html-render strong,
.c-html-render b {
  font-weight: bold;
  color: #333;
}

.c-html-render [draggable] {
  cursor: move;
}

.c-html-render .clearfix:before,
.c-html-render .clearfix:after {
  content: "";
  display: table;
}

.c-html-render .clearfix:after {
  clear: both;
}

.c-html-render .clearfix {
  zoom: 1;
}

.c-html-render .textwrap,
.c-html-render .textwrap td,
.c-html-render .textwrap th {
  word-wrap: break-word;
  word-break: break-all;
}

.c-html-render .textwrap-table {
  table-layout: fixed;
}

.c-html-render .serif {
  font-family: Palatino, Optima, Georgia, serif;
}

.c-html-render p,
.c-html-render pre,
.c-html-render ul,
.c-html-render ol,
.c-html-render dl,
.c-html-render form,
.c-html-render hr,
.c-html-render table,
.c-html-render blockquote {
  margin-bottom: 1.2em;
}

.c-html-render h1,
.c-html-render h2,
.c-html-render h3,
.c-html-render h4,
.c-html-render h5,
.c-html-render h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: 100;
  color: #333;
  line-height: 1.35;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
}

.c-html-render h1 {
  counter-reset: h2counter;
  font-size: 2em;
}

.c-html-render h2 {
  counter-reset: h3counter;
  font-size: 1.7em;
}

.c-html-render h3 {
  counter-reset: h4counter;
  font-size: 1.5em;
}

.c-html-render h4 {
  counter-reset: h5counter;
  font-size: 1.3em;
}

.c-html-render h5,
.c-html-render h6 {
  font-size: 1.2em;
}

.c-html-render h1 {
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #000;
}

.c-html-render h1::before {
  content: "Title:";
  margin-right: 10px;
  color: #0086b3;
  font-family: Palatino, Optima, Georgia, serif;
}

.c-html-render h2::before {
  counter-increment: h2counter;
  content: counter(h2counter) ".  ";
  margin-right: 10px;
  color: #3c3c3c;
  font-size: 1em;
}

.c-html-render h3::before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ".  ";
  margin-right: 10px;
  color: #5c5c5c;
  font-size: 0.8em;
}

.c-html-render h4::before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".  ";
  margin-right: 10px;
  color: #7c7c7c;
  font-size: 0.6em;
}

.c-html-render ul {
  margin-left: 1.3em;
  list-style: disc;
}

.c-html-render ol {
  list-style: decimal;
  margin-left: 1.9em;
}

.c-html-render li ul,
.c-html-render li ol {
  margin-bottom: 0.8em;
  margin-left: 2em;
}

.c-html-render li ul {
  list-style: circle;
}

.c-html-render table th,
.c-html-render table td,
.c-html-render table caption {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  color: #666;
}

.c-html-render table th {
  background: #fbfbfb;
}

.c-html-render table thead th {
  background: #f1f1f1;
}

.c-html-render table caption {
  border-bottom: none;
}

.c-html-render .c-input,
.c-html-render .c-textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.c-html-render em,
.c-html-render legend,
.c-html-render caption {
  color: #000;
  font-weight: inherit;
}

.c-html-render .c-em {
  position: relative;
}

.c-html-render .c-em:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}

.c-html-render img {
  max-width: 100%;
}
